<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
</head>
<body>
    <h2>Perfil do Usuário</h2>

    <p>Nome: <%= nome %></p>
    <p>Liguangem: <%= lang %></p>
    <p>Empresa: <%= empresa %></p>
    <p>Inscritos: <%= inscritos %></p>

    <!--CONDIÇÃO PARA MOSTRAR MENSAGEM-->
    <% if(Mensagem == true){ %>
        <h3>Usuário Ativo</h3>
    <% } else{ %>
        <h3>Usuário Inativo</h3>
     <%}%>   
    
</body>
</html>