<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nossos Produtos</title>
</head>
<body> 
    <% Produtos.forEach(function(listaProdutos){ %>
        <H2>Produto: <%= listaProdutos.nome %></H2>
        <h5>Preço: R$ <%= listaProdutos.preco %> </h5>
        <hr>
     <% }) %>
      
</body>
</html>